# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/.gitignore
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/muggleRpa.iml
day10/result/.DS_Store
day11/result/.DS_Store
venv/
